[Desktop Entry]
Name=Half-Life
Exec=/usr/bin/hl-launcher.sh
Icon=/usr/share/xash3d/icon-xash-material.png
Terminal=false
Type=Application
Categories=Games;

